* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.pdf binary
*.keystore binary
*.jks binary
*.so binary
*.jar binary
*.aar binary
